 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">Software University  Sofia, Bulgaria</h5>
    <div class="time">2016 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Master in Applied Linguistics</h4>
    <h5 class="meta">South- West University</h5>
    <div class="time">1993 - 1998</div>
</div><!--//item-->
</div><!--//education-container-->
